<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="2.0.5" targetFramework="net40" />
  <package id="Fizzler" version="1.0.0" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net40" />
  <package id="System.Svg" version="0.0.5" targetFramework="net40" />
  <package id="System.Svg.Render" version="0.0.3" targetFramework="net40" />
</packages>