<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q8-AnyCPU" version="7.0.1.0" targetFramework="net35" />
  <package id="Source.JetBrains.Annotations" version="11.1.1" targetFramework="net35" developmentDependency="true" />
  <package id="Svg" version="2.3.0" targetFramework="net35" />
</packages>